div#mastwrap
  header#masthead.clearfix
    block header
      a(href="/", class='henry', title='Henry Boston')
      hgroup.intro
        h1 Henry Boston
        h2 
          span Student and Web Developer at UNT
          br
          span Intern at FEMA Region VI
div#cover-wrap.clearfix
  block nav
    nav#nav
      ul
        li 
          a(href='about.html', title='About', class='about') 
            i
            span About
        li 
          a(href='archive.html', title='Posts', class='posts') 
            i
            span Posts 
        li 
          a(href='/', title='Photos', class='photos') 
            i
            span Photos
        li 
          a(href='/', title='Maps', class='maps') 
            i
            span Maps

